@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";
@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css";

:root, :root.light {
    --bg-color: rgb(255, 255, 255);
    --bg-navbar: #eff0ec;
    --text-color: #3a3838;
    --text-color-secondary: rgb(163, 162, 162);
    --button-bar: #c4c3bf;
    --button-danger: #ae5264;
    --main-card: #e4f9864f;
}

:root.dark {
    --bg-color: #292929;
    --bg-navbar: rgb(80, 76, 76);
    --text-color: white;
    --text-color-secondary: rgb(119, 117, 117);
    --button-bar:  rgb(163, 162, 162);
    --button-danger: #ae5264;
    --main-card: rgba(255, 255, 255, 0.048);
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}
